@font-face {
  font-family: IranSans;
  src: url(/fonts/IRANSansWeb.eot?5c7d40bb2f4cca4c4cf7ad7466c3793e);
  src: url(/fonts/IRANSansWeb.ttf?84fda3e85b2ec3885be12fd7d550129a);
  src: url(/fonts/IRANSansWeb.woff?56ae948d2fcc0d8bf4097031a0406e48);
  src: url(/fonts/IRANSansWeb.woff2?ca92bd17e3211d6b29b9ed0a834d8b0e);
}
* {
  font-family: IranSans !important;
  text-align: right !important;
}

* {
  padding: 0px;
  margin: 0px;
  direction: rtl;
}

.container {
  background: url(/images/background.jpg?9fb4de6a023e9218395da3b938a9df53);
  background-size: cover;
  height: 100vh;
}

.nav {
  position: relative;
}
.nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.nav li {
  padding: 20px;
  text-align: center;
  list-style-type: none;
  z-index: 1;
}
.nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.nav li a:after {
  display: block;
  content: "";
  border-bottom: solid 3px #8833FF;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.nav li a:hover:after {
  transform: scaleX(1);
}
.nav li a.fromRight:after {
  transform-origin: 100% 50%;
}
.nav li a.fromLeft:after {
  transform-origin: 0% 50%;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
